doctype html
html
  head
    title ES6/React Testing
    if process.env.NODE_ENV == "production"
      script(src="/js/bundle.min.js" async)
    else
      script(src="/js/bundle.js" async)
    end
  body
